# **01 - Data Collection**

## Objectives

* Install the Kaggle API to enable dataset retrieval.
* Authenticate using the Kaggle API token stored in the `kaggle.json` file.
* Download the raw dataset from Kaggle.
* Inspect the dataset to ensure it is loaded correctly.
* Save the dataset in the `inputs/datasets/raw/` folder for further processing.

## Inputs

* Kaggle dataset: [Housing Prices Data](
)
* Kaggle API token stored in the `kaggle.json` file.

## Outputs

* Raw dataset saved as `inputs/datasets/raw/housing_prices.csv`.

## Additional Comments

* Ensure that the Kaggle API token (`kaggle.json`) is correctly configured and stored in the project root directory.
* The working directory will be adjusted to the project root to ensure consistent file paths.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspaces/milestone-project-heritage-housing-issues/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspaces/milestone-project-heritage-housing-issues'

# Section 1: Data Retrieval

To retrieve the raw project data, we first need to install the Kaggle API, which allows us to download datasets directly from Kaggle. This requires the installation of the Kaggle Python package.

In [4]:
%pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: charset-normalizer in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (3.4.0)
Requirement already satisfied: idna in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /home/cistudent/.local/lib/python3.12/site-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (75.6.0)
Requirement already satisfied: six>=1.10 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (1.17.0)
Collecting text-unidecode (from kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: tqdm in /home/cistudent/.local/lib/python3.12/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (0.5.1)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.7.4.5 python-slugify-8.0.4 text-unidecode-1.3

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

To configure the Kaggle API for data set retrieval, we first need to set the enviroment variable `KAGGLE_CONFIG_DIR` to the current directory where the `kaggle.json` file is stored. This file contains the necessary credentials for authentification. 
We use the `chmod 600` to restrict the access to the `kaggle.json` file, ensuring that it is only readable and writeble by the owner.

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

Next, we download the zip file containing the dataset.

In [6]:
KaggleDatasetPath = "codeinstitute/housing-prices-data"
DestinationFolder = "inputs/datasets/raw"   
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Dataset URL: https://www.kaggle.com/datasets/codeinstitute/housing-prices-data
License(s): unknown
Downloading housing-prices-data.zip to inputs/datasets/raw
  0%|                                               | 0.00/49.6k [00:00<?, ?B/s]
100%|███████████████████████████████████████| 49.6k/49.6k [00:00<00:00, 113MB/s]

Unzip dataset, delete zip-file and remove kaggle.json file.

In [16]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
  && rm {DestinationFolder}/*.zip \
  && rm kaggle.json

unzip:  cannot find or open inputs/datasets/raw/*.zip, inputs/datasets/raw/*.zip.zip or inputs/datasets/raw/*.zip.ZIP.

No zipfiles found.

Moving the CSV files to `/inputs/datasets/raw/` and removing unnecessary folders simplifies the project structure, makes the code cleaner, and follows best practices for organizing raw data.

In [17]:
!mv inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/*.csv inputs/datasets/raw/ \
  && rmdir inputs/datasets/raw/house-price-20211124T154130Z-001/house-price \
  && rmdir inputs/datasets/raw/house-price-20211124T154130Z-001

---

# Section 2: Load and Inspect Kaggle Data

* Import the Pandas library to work with tabular data.
* Load the datasets (`house_prices_records.csv`and `inherited_houses.csv`) into two separate Pandas DataFrames.
* Display the first few rows of `df_prices`.

In [36]:
import pandas as pd

df_prices = pd.read_csv("inputs/datasets/raw/house_prices_records.csv")
df_inherited = pd.read_csv("inputs/datasets/raw/inherited_houses.csv")

df_prices.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,NaN,642,Unf,...,60.0,0.0,35,5,7,756,NaN,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,0.0,836,RFn,...,84.0,350.0,84,5,8,1145,NaN,2000,2000,250000

Inspecting DataFrame Structure.
We use `.info()` to inspect the structure of the DataFrame, including column names, data types, and the number of non-null values. This helps us identify missing values and understand the overall structure of the dataset.

In [43]:
print("Dataset info:")
df_prices.info()

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1stFlrSF       1460 non-null   int64
 1   2ndFlrSF       1374 non-null   float64
 2   BedroomAbvGr   1361 non-null   float64
 3   BsmtExposure   1422 non-null   category
 4   BsmtFinSF1     1460 non-null   int64
 5   BsmtFinType1   1315 non-null   category
 6   BsmtUnfSF      1460 non-null   int64
 7   EnclosedPorch  136 non-null    float64
 8   GarageArea     1460 non-null   int64
 9   GarageFinish   1225 non-null   category
 10  GarageYrBlt    1379 non-null   float64
 11  GrLivArea      1460 non-null   int64
 12  KitchenQual    1460 non-null   category
 13  LotArea        1460 non-null   int64
 14  LotFrontage    1201 non-null   float64
 15  MasVnrArea     1452 non-null   float64
 16  OpenPorchSF    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  OverallQual    1460 non-null   int64
 19  TotalBsmtSF    1460 non-null   int64
 20  WoodDeckSF     155 non-null    float64
 21  YearBuilt      1460 non-null   int64
 22  YearRemodAdd   1460 non-null   int64
 23  SalePrice      1460 non-null   int64
dtypes: category(4), float64(7), int64(13)
memory usage: 234.7 KB

Convert categorical columns to `category`.

In [45]:
categorical_columns = ['BsmtExposure', 'BsmtFinType1', 'GarageFinish', 'KitchenQual']
for col in categorical_columns:
    df_prices[col] = df_prices[col].astype('category')

Identify the number of missing values in each column of `df_prices`. To count the number of missing values in each column and plan how we will handle them.

In [40]:
df_prices.isnull().sum()

1stFlrSF            0
2ndFlrSF           86
BedroomAbvGr       99
BsmtExposure       38
BsmtFinSF1          0
BsmtFinType1      145
BsmtUnfSF           0
EnclosedPorch    1324
GarageArea          0
GarageFinish      235
GarageYrBlt        81
GrLivArea           0
KitchenQual         0
LotArea             0
LotFrontage       259
MasVnrArea          8
OpenPorchSF         0
OverallCond         0
OverallQual         0
TotalBsmtSF         0
WoodDeckSF       1305
YearBuilt           0
YearRemodAdd        0
SalePrice           0
dtype: int64

Statistical Summary of Numeric Columns.
We use `.describe()` to generate a statistical summary of the numeric columns in the dataset. This helps us understand the distribution of data, identify outliers, and plan for data cleaning.

In [41]:
print("Statistical Summary of df_prices:")
print(df_prices.describe())

Statistical Summary of df_prices:
          1stFlrSF     2ndFlrSF  BedroomAbvGr   BsmtFinSF1    BsmtUnfSF  \
count  1460.000000  1374.000000   1361.000000  1460.000000  1460.000000
mean   1162.626712   348.524017      2.869214   443.639726   567.240411
std     386.587738   438.865586      0.820115   456.098091   441.866955
min     334.000000     0.000000      0.000000     0.000000     0.000000
25%     882.000000     0.000000      2.000000     0.000000   223.000000
50%    1087.000000     0.000000      3.000000   383.500000   477.500000
75%    1391.250000   728.000000      3.000000   712.250000   808.000000
max    4692.000000  2065.000000      8.000000  5644.000000  2336.000000

       EnclosedPorch   GarageArea  GarageYrBlt    GrLivArea        LotArea  \
count     136.000000  1460.000000  1379.000000  1460.000000    1460.000000
mean       25.330882   472.980137  1978.506164  1515.463699   10516.828082
std        66.684115   213.804841    24.689725   525.480383    9981.264932
min         0.000000     0.000000  1900.000000   334.000000    1300.000000
25%         0.000000   334.500000  1961.000000  1129.500000    7553.500000
50%         0.000000   480.000000  1980.000000  1464.000000    9478.500000
75%         0.000000   576.000000  2002.000000  1776.750000   11601.500000
max       286.000000  1418.000000  2010.000000  5642.000000  215245.000000

       LotFrontage   MasVnrArea  OpenPorchSF  OverallCond  OverallQual  \
count  1201.000000  1452.000000  1460.000000  1460.000000  1460.000000
mean     70.049958   103.685262    46.660274     5.575342     6.099315
std      24.284752   181.066207    66.256028     1.112799     1.382997
min      21.000000     0.000000     0.000000     1.000000     1.000000
25%      59.000000     0.000000     0.000000     5.000000     5.000000
50%      69.000000     0.000000    25.000000     5.000000     6.000000
75%      80.000000   166.000000    68.000000     6.000000     7.000000
max     313.000000  1600.000000   547.000000     9.000000    10.000000

       TotalBsmtSF  WoodDeckSF    YearBuilt  YearRemodAdd      SalePrice
count  1460.000000  155.000000  1460.000000   1460.000000    1460.000000
mean   1057.429452  103.741935  1971.267808   1984.865753  180921.195890
std     438.705324  135.543152    30.202904     20.645407   79442.502883
min       0.000000    0.000000  1872.000000   1950.000000   34900.000000
25%     795.750000    0.000000  1954.000000   1967.000000  129975.000000
50%     991.500000    0.000000  1973.000000   1994.000000  163000.000000
75%    1298.250000  182.500000  2000.000000   2004.000000  214000.000000
max    6110.000000  736.000000  2010.000000   2010.000000  755000.000000

---

## Conclusions and next step
### Concolusions:
**From `.info()`:**
* Columns with missing value: `2ndFlrSF`, `BedroomAbvGr`, `BsmtExposure`, `BsmtFinType1`, `EnclosedPorch`, `GarageFinish`, `GarageYrBlt`, `LotFrontage`, `MasVnrArea`, `WoodDeckSF`.
* Categorical columns (`object`) were converted to `category` for optimization. 
* The dataset has 1460 rows and 24 columns.

**From `.isnull().sum()`:**
* `LotFrontage` has 259 missing values (17.7% of the data).
* `GarageFinish` has 235 missing values (16.1% of the data).
* `EnclosedPorch`and `WoodDeckSF`have a high percentage of missing values. 

**From `.describe()`:**
* `SalePrice` has a maximum value of 755000, which might indicate outliners.
* `LotFrontage` has a wide range of values, with a mean of 70 and a max of 313.
* `GarageYrBlt` has missing values but represents years, so it might need special handeling. 

#### Next Steps: Data Cleaning